


/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
		}

			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}

			form .submit
			{
				margin-top: 2em;
				background: #B03500;
				line-height: 1.5em;
				font-size: 1.3em;
			}

			form .search
			{
				margin-top: 2em;
				line-height: 1em;
				font-size: 1.3em;
				border-radius: 30px 30px 30px 30px;
			}

			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}

				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.2em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #333333;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #FFFFFF;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #B03500;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}

	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

	.button-small
	{
		padding: 0.9em 2em;
		line-height: 1.8em;
		font-size: 1em;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
	}

	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}







/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}

	#wrapper2
	{
		background: #EDEDED;
	}

	#wrapper3
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #FFF;
	}

	#wrapper4
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #939E77;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		padding: 8em 0em;
		text-align: center;
		color: rgba(255,255,255,0.3);
	}

	#welcome .content
	{
		padding: 0em 8em;
	}



	#welcome a,
	#welcome strong
	{
		color: rgba(255,255,255,0.6);
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
	}


	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}

	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}

	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
	}

	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}

	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}

	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}

	.column4
	{
		float: right;
	}

	/*SEARCH FORM*/
.search-form {
    border-radius: 30px 30px 30px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}
